
/* Reset some default styling */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #f8f8f8 ;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 50px;
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* ... (previous code) ... */



.portfolio-image {
    max-width: 100%;
    height: auto;
}



/* ... (remaining code) ... */
/* ... (previous code) ... */



/* ... (remaining code) ... */

/* Add CSS for styling the overlay text */
      #bottom-image {
            position: relative;
			text-align: center;
             display: block;
        }
        #bottom-image img {
            max-width: 100%;
            height: auto;
           
        }

        .overlay-text {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX( -50%);
            font-size: 35px;
            color: white;
            text-align: center;
            padding: 10px;  
        }
		.dark-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            z-index: -1; /* Place the overlay behind the image */
        	}
		.overlay-text-1 {
           bottom: 600px;
		   
        }

        .overlay-text-2 {
            bottom: 80px;
            font-size: 25px; /* Adjust font size for the smaller text */
            line-height: 1.5; /* Add some spacing between lines */
			
			}
	.text-center {
    text-align: center!important;
 }
 /* Add your additional CSS styles here */
 .bottom-left-image {
      bottom: 0;
      left: 0;
      max-width: 300px; /* Adjust image width as needed */
      height: auto;
    }
		.logo {
    width: 100px;
    height: auto;
    margin: 10px; /* Adjust margin as needed */
}
/* Your existing CSS styles */

        .image-with-text {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

        .image-with-text img {
            max-width: 100%;
            margin-right: 10px;
        }
		

        .image-text {
            font-size: 18px;
        }

        .request-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #000000;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
		.comparison-text {
            font-size: 35px;
			font-weight: bold;
            text-align: center;
            margin-top: 10px;
		}	
			/* Define a CSS class to style the image */
            .small-image {
			max-width: 300px; /* Adjust the maximum width as needed */
            height: auto; /* Maintain aspect ratio */
        
        }
		     /* Apply a slightly larger font size to the .bottom-left-text class */
            .bottom-left-text {
            font-size: 1.7em; /* You can adjust the value as needed */
        }
            /* CSS for the image with caption */
            .image-with-caption {
            text-align: center;
            margin-top: 20px; /* Adjust the margin as needed */
        }

            .image-with-caption img {
            max-width: 100%; /* Ensure the image doesn't exceed its container width */
            height: auto; /* Maintain the aspect ratio of the image */
        }

            .caption {
            font-size: 14px; /* Adjust the font size as needed */
            margin-top: 5px; /* Adjust the margin as needed */
        }
            /* Style the image caption text */
            .image-caption {
            text-align: center; /* Center the text */
            margin-top: 10px; /* Add some space between the image and the caption */
            font-weight: bold; /* Make the text bold */
            font-size: 26px;
			
  /* Adjust the font size as needed */
        }
/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style for the buttons */
.button-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.button-list li {
    margin-right: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}


		/* Style for the form group */
        .form-group {
            text-align: center;
            margin-top: 20px;
        }

        /* Style for the label */
        .form-group label {
            font-weight: bold;
            color: #000000;
        }

        /* Style for the select */
        .select-service {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
        }





/* Style for the service info section */
#service-info {
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
}

#service-info h2 {
    font-size: 24px;
    font-weight: bold;
}

#order-buttons {
    text-align: center;
    margin-top: 20px;
}


.cta-button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.cta-button:hover {
    background-color: #0056b3;
}


/* Center the advantages text */
#advantages-section {
    background-color: ; /* Change the background color as desired */
    text-align: center;
    padding: 20px 0; /* Add padding as needed */
}

.advantages-text {
    color: #000000 ; /* Change the text color as desired */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Add font-weight as desired */
    /* Add any additional CSS styles you want for the text */
}
/* Position the clear-terms text at the bottom-right */
#clear-terms-section {
    background-color: ; /* Change the background color as desired */
    text-align: right;
    padding: 20px; /* Add padding as needed */
}

.clear-terms-text {
    color: #000000; /* Change the text color as desired */
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold; /* Add font-weight as desired */
    /* Add any additional CSS styles you want for the text */
}

/* Style the container for the image on the right */
#image-on-right {
    display: flex;
    justify-content: flex-end; /* Center the image on the right */
    align-items: center;
    background-color: ; /* Change the background color as desired */
    padding: 20px; /* Add padding as needed */
}

/* Style for the small image on the right */
.small-image-right {
    max-width: 10px; /* Adjust the size of the image as needed */
    margin-left: 20px; /* Add margin to separate the image from text */
}



/* Style for the image gallery container */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the gap between images */
    margin-top: 20px; /* Add margin spacing from the text */
}

/* Style for each work image */
.work-image {
    max-width: 110px; /* Adjust the maximum width of each image */
    height: auto;
}



/* Add styles for the language selection buttons */
#language-selection {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-button {
    background-color:#fff ;
    color:#000 ;
    border: 1px solid #000 ;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.language-button a {
    text-decoration: none;
    color: inherit;
}

.language-button:hover {
    background-color: #4169E1;
    color: #000;
}



/* Add this CSS to style the full-width image */
.full-width-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; /* Place it behind your content */
}



 /* Style for the phone icon button */
        .phone-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: Black;
            color: white;
            padding: 10px;
            border-radius: 50%;
            font-size: 24px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }


        .call-button:hover {
            background-color: darkblue;
        }


/* Add this to your existing CSS file or create a new CSS file */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.work-image {
    width: 300px; /* Adjust the width to make them a little smaller */
    height: auto;
    margin: 50px;
}







body {
    margin: 0;
    padding: 0;

  
}


.image-container {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.overlay-text-full {
    font-size: 19px; /* Adjust font size as needed */
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
}


/* Dropdown button */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: black;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: #f9f9f9;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: 8ac8ff;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }



	.container {
  position: relative;
}

.bottom-line {
  width: 500%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: -200%; /* Adjust this value to position the line to the left */
  z-index: 1;
}

.logo-container {
  position: absolute;
  bottom: -50px; /* Adjust this value to position the logo at the desired distance above the bottom */
  left: 9%; /* Position the logo horizontally at the center */
  transform: translateX(-50%);
  z-index: 2; /* Ensure the logo appears above the line */
}
.logo-bottom {
  width: 110px; /* Adjust this value to set the desired width for the logo */
  height: auto; /* Maintain aspect ratio */
}
.text-at-bottom {
  position: absolute;
  bottom: -30px; /* Adjust this value to set the distance between text and lines */
  left: 50%; /* Position the text horizontally at the center */
  transform: translateX(-50%);
}
.service {
  position: absolute;
  left: 15%;  /* Align the text block to the left */
  padding-left: 30px; /* Add some padding to the left side */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2; /* Ensure the text block appears above the line */

  
  
}
.service h2 {
  text-align: center; /* Center align the heading */
}

.service ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
   
}

.service li {
  margin-bottom: 10px; /* Add some vertical spacing between list items */
}

.service a {
  display: block; /* Make links block-level elements */
  text-decoration: none; /* Remove default underline */
  color: black; /* Set link color */
}

.service a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.right-text-bottom {
  position: absolute;
  bottom: 10;
  left: 45%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.right-text-bottom h2 {
  text-align: center; /* Center align the heading */
}

.right-text-bottom ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

.right-text-bottom li {
  margin-bottom: 10px; /* Add some vertical spacing between list items */
}

.right-text-bottom a {
  display: block; /* Make links block-level elements */
  text-decoration: none; /* Remove default underline */
  color: black; /* Set link color */
}

.right-text-bottom a:hover {
  text-decoration: underline; /* Add underline on hover */

}
.center-text-bottom {
  position: absolute;
  bottom: 10; /* Adjust this value to set the distance from the bottom */
  left: 68%; /* Position the text horizontally at the center */
  transform: translateX(-50%);
  z-index: 2; /* Ensure the text appears above the line */
 display: flex;
  flex-direction: column;
  align-items: flex-start;
  }
.center-text-bottom h2 {
  text-align: center; /* Center align the heading */
}

.center-text-bottom ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

.center-text-bottom li {
  margin-bottom: 10px; /* Add some vertical spacing between list items */
}

.center-text-bottom a {
  display: block; /* Make links block-level elements */
  text-decoration: none; /* Remove default underline */
  color: black; /* Set link color */
}

.center-text-bottom a:hover {
  text-decoration: underline; /* Add underline on hover */
}
.contact-us {
  position: absolute;
  bottom: 10; /* Adjust this value to set the distance from the bottom */
  left: 88%; /* Position the text horizontally at the center */
  transform: translateX(-50%);
  z-index: 2; /* Ensure the text appears above the line */
   display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-us h2 {
  text-align: center; /* Center align the heading */
}

.contact-us ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

.contact-us li {
  margin-bottom: 10px; /* Add some vertical spacing between list items */
}

.contact-us a {
  display: block; /* Make links block-level elements */
  text-decoration: none; /* Remove default underline */
  color: black; /* Set link color */
}

.contact-us a:hover {
  text-decoration: underline; /* Add underline on hover */
}	